language: R
cache:
  packages: true
  directories:
    - _bookdown_files
pandoc_version: 2.3.1
addons:
  apt:
    packages:
      - libxml2-dev

before_install:
  - sudo apt-get update
  - sudo apt-get install texlive-latex-base
  - sudo apt-get install texlive-fonts-recommended
  - sudo apt-get install texlive-xetex
  - sudo apt-get install texlive-fonts-extra
  - sudo $(which tlmgr) install index unicode-math filehook lm-math babel-english idxlayout
  - sudo apt-get install pdftk
  - sudo apt-get install fonts-inconsolata -y
  - sudo fc-cache -fv
  - sudo apt-get install ghostscript
  - sudo apt-get install libgs-dev

script:
  - Rscript -e 'devtools::install_github("rstudio/pagedown")'
  - Rscript -e 'bookdown::render_book("index.Rmd", output_format = "pagedown::book_crc")'
  - Rscript -e 'bookdown::render_book("index.Rmd", output_format = "bookdown::pdf_book")'
  #- mv _book/_main.html _book/index.html


deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: false
#  local-dir: _book # Book output directory
  on:
    branch: master
